body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #282d35;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #21222a;
  padding: 10px;
}

.nav-logo {
  width: 150px;
  margin-right: 20px;
}

.nav-items {
  list-style: none;
  display: flex;
  color: #61dafb;
  font-weight: 600;
}

.nav-items li {
  padding: 10px;
}

.container {
  padding-left: 20px;
}

main {
  padding: 57px 27px;
  color: white;
  background-color: url(./images/react-large.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 75%;
}

.main--h {
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.05em;
}

.main--facts {
  margin-top: 46px;
  max-width: 400px;
}

.main--facts li {
  line-height: 19px;
  padding-block: 10px;
}

.main--facts li::marker {
  color: #61dafb;
  font-size: 1.4rem;
}

footer {
  text-align: center;
  color: white;
  background-color: #21222a;
}